# SPDX-FileCopyrightText: 2024 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of etcd systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ etcd_identifier }}.service"
  register: etcd_service_stat

- name: Uninstall etcd systemd services and files
  when: etcd_service_stat.stat.exists | bool
  block:
    - name: Ensure etcd systemd service is stopped
      ansible.builtin.service:
        name: "{{ etcd_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure etcd systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ etcd_identifier }}.service"
        state: absent

    - name: Ensure etcd container network does not exist
      when: etcd_container_network_deletion_enabled
      block:
        - name: Ensure etcd container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ etcd_container_network }}"
            state: absent
          register: etcd_network_deletion_result

        - name: Ensure etcd container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ etcd_container_network }}
          register: etcd_network_deletion_result
          changed_when: etcd_container_network in etcd_network_deletion_result.stdout

    - name: Ensure etcd path does not exist
      ansible.builtin.file:
        path: "{{ etcd_base_path }}"
        state: absent
